* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype-variations');
    font-weight: 300 900;
}

@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 300 900;
}

body {
    font-family: 'Outfit';
    font-style: normal;
    background: #F3E5D7;
}

article {
    margin: 128px auto;
    padding: 40px;
    max-width: 736px;
    background: #FFFFFF;
    border-radius: 24px;
}

img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 40px;
}

h1 {
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #312E2C;
    margin-bottom: 24px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5F564D;
    margin-bottom: 32px;
}

.preparation {
    padding: 24px;
    max-width: 656px;
    background: #FFF7FB;
    border-radius: 12px;
    margin-bottom: 32px;
}

.ing {
    max-width: 656px;
}

li {
    margin-left: 24px;
}

li::marker {
    color: #854632;
    font-size: 0.8em;
}

ol li::marker {
    font-size: 1em;
    font-weight: 700;
    color: #854632;
    
}

ul,
ol {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #7A284E;
    margin-bottom: 16px;
}

li {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5F564D;
}

.preparation span,
.ins span {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #5F564D;
}

h3 {
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    color: #854632;
    margin-bottom: 24px;
}


ol li, ul li {
    padding-left: 16px;
}

hr {
    margin-top: 32px;
    margin-bottom: 32px;
    border: 1px solid #E3DDD7;
}

.nutrition hr {
    margin: 0;
}

.nutrition p {
    margin: 0;
}

.nutrition {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nut {
    margin-bottom: 24px;
}

.container p {
    width: 288px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 32px;
}

.color {
    color: #854632;
    font-weight: bold;

    
}


@media (max-width: 420px) {
    body {
        background: #FFFFFF;
    }

    article {
        max-width: 375px;
        border-radius: 0;
        margin: 0 auto;
        padding: 0;
    }

    img {
        border-radius: 0;
    }

    .preparation {
        max-width: 311px;
    }

    h1 {
        font-weight: 400;
        font-size: 36px;
    }

    .mob-pad {
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 40px;
    }
}